{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="text-center">Welcome on the new ASINT</h1>
	<h1 class="text-center">Ici il y aura une photo de l'équipe au complet (si on en fait une)</h1>
	<h1 class="text-center">+ Un petit texte qui présente ce qu'est l'ASINT</h1>
{% endblock %} 